<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/icon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header>
            <img src="/images/logo.png" alt="" class="logo">
            <div class="content">WAF后台管理</div>
        </header>
        <form action="/admin/dashbord" method="post">
            <div class="form-group">
                <label for="">账号:</label>
                <input type="text" name="userName" id="">
            </div>
            <div class="form-group">
                <label for="">密码:</label>
                <input type="password" name="userPwd" id="">
            </div>
            <input type="submit" value="登&nbsp;&nbsp;录">
        </form>
    </div>
</body>

</html>