<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.ico" type="image/x-icon">
    <title>卤肘罐-仪表盘</title>
</head>

<frameset cols="270px,*" border="0">
    <frame src="/left" name="left" />
    <frame src="/right" name="right" />
</frameset>

<body>
    aaa
</body>

</html>